
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  justify-content: center; 
  align-items: center; 
}
header {
  display: flex;
  flex-direction: column;
  width: 20%; 
  background-color: #f1f1f1;
  padding: 20px;
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}
.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
h3, p {
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px; 
}
button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
}
.contacto {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.contacto:hover {
  background-color: #e9e9e9;
}
.imagen {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
}
.ordenar {
  display: flex;
  flex-direction: column;
}
.ordenar div {
  margin: 5px 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
.foto-principal {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.p {
  display: flex;
  justify-content: center;
  max-width: 600px;
  text-align: justify;
  color: #555;
}
